In [1]:
import pandas as pd # type: ignore
import datetime
import calendar
import numpy as np # type: ignore
import re
import pandas as pd # type: ignore
import numpy as np # type: ignore
import matplotlib.pyplot as plt # type: ignore
from sklearn.ensemble import IsolationForest

pd.set_option('future.no_silent_downcasting', True)

In [2]:
super_sheet = pd.ExcelFile(r"/Users/ferroyudisthira/Desktop/DSTA_DQAD/V&H_Check/Sumber_Data_Lama/SSKI/SSKI EKSTERNAL_25 Okt 2024.xlsx")

In [3]:
def prepare_dataframe(sheet_name, header_count):
    if sheet_name in ['11','16']:
        input_df = super_sheet.parse(sheet_name, header=[3, 2 + header_count])
    else:
        input_df = super_sheet.parse(sheet_name, header=[4, 3 + header_count])

    # Clean up and modify the column headers
    input_df.columns = input_df.columns.map(lambda x: str(x[0]).upper() if 'Unnamed' in str(x) else x)

    # Strip spaces in tuple columns
    input_df.columns = input_df.columns.map(lambda x: (x[0], x[1].strip()) if isinstance(x, tuple) and isinstance(x[1], str) else x)

    # Combine the multi-level column headers into a single string
    input_df.columns = input_df.columns.map(lambda x: f'{x[0]}-{x[1].capitalize()}' if isinstance(x, tuple) else x)

    first_column = input_df.iloc[:, 0]
    second_column = input_df.iloc[:, 1]

    # Filter based on the year (assuming year_to_check is a variable in scope)
    input_df = input_df.filter(regex=str(20))

    # Insert the 'NO' and 'Komponen' columns
    input_df.insert(0, 'NO', first_column)
    input_df.insert(1, 'Komponen', second_column)

    # Remove rows after the 'Keterangan' row (if it exists)
    index_keterangan = input_df[input_df.apply(lambda row: row.astype(str).str.contains('keterangan', case=False).any(), axis=1)].index

    if not index_keterangan.empty:
        first_keterangan_index = index_keterangan[0]
        input_df = input_df.iloc[:first_keterangan_index]

    return input_df

df = prepare_dataframe("4", 2)
df

,NO,Komponen,2005,2006,2007,2008,2009,2010,2011,2012,...,2022-Q2,2022-Q3,2022-Q4,2023,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2
0,1,Core FSIs for Deposit takers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.,.
1,2,Regulatory capital to risk-weighted assets,2.018410e+01,2.125834e+01,1.952652e+01,1.663261e+01,1.715633e+01,1.583715e+01,1.524985e+01,1.616445e+01,...,2.310304e+01,2.352603e+01,2.413405e+01,2.584111e+01,2.321433e+01,2.525690e+01,2.547301e+01,2.584111e+01,24.2906,24.437104
2,3,Total regulatory capital,1.499328e+08,1.680040e+08,1.955812e+08,2.124505e+08,2.404399e+08,2.830622e+08,3.577378e+08,4.380935e+08,...,1.426490e+09,1.474245e+09,1.545912e+09,1.663298e+09,1.507131e+09,1.553433e+09,1.598943e+09,1.663298e+09,1604557738.256399,1651639225.5341
3,4,Risk-weighted assets,7.428265e+08,7.902968e+08,1.001618e+09,1.277313e+09,1.401464e+09,1.787330e+09,2.345845e+09,2.710228e+09,...,6.174467e+09,6.266440e+09,6.405521e+09,6.436634e+09,6.492244e+09,6.150531e+09,6.277008e+09,6.436634e+09,6605673526.403298,6758735617.138998
4,5,Tier 1 capital to risk-weighted assets,1.544958e+01,1.644884e+01,1.558629e+01,1.373710e+01,1.432014e+01,1.400932e+01,1.350456e+01,1.422485e+01,...,2.139775e+01,2.184782e+01,2.255920e+01,2.418378e+01,2.168986e+01,2.365053e+01,2.388114e+01,2.418378e+01,22.744696,22.931249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,212,Total gross loans,8.221774e+08,9.173799e+08,1.107123e+09,1.473261e+09,1.662246e+09,1.961254e+09,2.381914e+09,3.020937e+09,...,6.776339e+09,7.051318e+09,7.295716e+09,7.925380e+09,7.303767e+09,7.543825e+09,7.733890e+09,7.925380e+09,8000771521.443933,8155013645.16169
212,213,Commercial real estate loans to total gross loans,8.656033e-01,1.208650e+00,1.425522e+00,1.525244e+00,1.318092e+00,5.025799e+00,1.483590e+01,1.018863e+01,...,1.544998e+01,1.517310e+01,1.502278e+01,1.469755e+01,1.514551e+01,1.491263e+01,1.476139e+01,1.469755e+01,14.560103,14.999295
213,214,Commercial real estate loans,7.116795e+06,1.108791e+07,1.578228e+07,2.247082e+07,2.190993e+07,9.856868e+07,3.533785e+08,3.077921e+08,...,1.046943e+09,1.069903e+09,1.096020e+09,1.164837e+09,1.106193e+09,1.124982e+09,1.141630e+09,1.164837e+09,1164920582.555511,1223194550.859583
214,215,Total gross loans,8.221774e+08,9.173799e+08,1.107123e+09,1.473261e+09,1.662246e+09,1.961254e+09,2.381914e+09,3.020937e+09,...,6.776339e+09,7.051318e+09,7.295716e+09,7.925380e+09,7.303767e+09,7.543825e+09,7.733890e+09,7.925380e+09,8000771521.443933,8155013645.16169
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def prepare_dataframe5(sheet_name):
    if sheet_name == '5a':
        header_array = [3, 4, 5]
    else:
        header_array = [2, 3, 4, 5]

    input_df = super_sheet.parse(sheet_name, header=header_array)

    input_df.columns = input_df.columns.map(lambda x: str(x[0]).upper() if 'Unnamed' in str(x) else x)

    input_df.columns = input_df.columns.map(
        lambda x: tuple(
            str(x[i]).upper() if i == 0 and 'Unnamed' in str(x[1]) else x[i].strip() if isinstance(x[i], str) else x[i]
            for i in range(len(x))
        ) if isinstance(x, tuple) else x
    )

    # Remove row with "keterangan" and rows following
    index_keterangan = input_df[input_df.apply(lambda row: row.astype(str).str.contains('keterangan', case=False).any(), axis=1)].index

    if not index_keterangan.empty:
        first_keterangan_index = index_keterangan[0]
        input_df = input_df.iloc[:first_keterangan_index]
    
    # Gabungkan elemen kolom multi-level menjadi satu string secara fleksibel berdasarkan panjang tuple
    input_df.columns = input_df.columns.map(lambda x: '-'.join([str(i).capitalize() if isinstance(i, str) else str(i) for i in x]) if isinstance(x, tuple) else x)

    first_column = input_df.iloc[:, 0]
    second_column = input_df.iloc[:, 1]

    # Filter columns where the name contains a year (assuming year_to_check is a variable in scope)
    input_df = input_df.filter(regex=str(20))

    # Insert the 'NO' and 'Komponen' columns
    input_df.insert(0, 'NO', first_column)
    input_df.insert(1, 'Komponen', second_column)

    # Remove rows after the 'Keterangan' row (if it exists)
    index_keterangan = input_df[input_df.apply(lambda row: row.astype(str).str.contains('keterangan', case=False).any(), axis=1)].index

    if not index_keterangan.empty:
        first_keterangan_index = index_keterangan[0]
        input_df = input_df.iloc[:first_keterangan_index]

    # Drop columns that contain only a year as their name (e.g., '2020', '2021')
    input_df = input_df.loc[:, ~input_df.columns.str.match(r'^\d{4}$')]

    display(input_df)

    return input_df

In [5]:
def split5a(df):
    claims_df = df.filter(like='Claims')
    liabilities_df = df.filter(like='Liabilities')
    common_columns = df.filter(regex='NO|Komponen')
    # Menggabungkan kolom Nomor dan Komponen ke DataFrame Claims dan Liabilities
    claims_df = pd.concat([common_columns, claims_df], axis=1)
    liabilities_df = pd.concat([common_columns, liabilities_df], axis=1)
    return claims_df, liabilities_df

def split5b(df):
    # Extract common columns (No and Komponen)
    common_columns = df.filter(regex='NO|Komponen')
    
    # Filter for Claims and Liabilities by categories using df.filter(like=...)
    claims_df_total = pd.concat([common_columns, df.filter(like='Claims-Total')], axis=1)
    liabilities_df_total = pd.concat([common_columns, df.filter(like='Liabilities-Total')], axis=1)
    claims_df_ld = pd.concat([common_columns, df.filter(like='Claims-Loan & deposits')], axis=1)
    liabilities_df_ld = pd.concat([common_columns, df.filter(like='Liabilities-Loan & deposits')], axis=1)
    claims_df_ds = pd.concat([common_columns, df.filter(like='Claims-Debt securities')], axis=1)
    liabilities_df_ds = pd.concat([common_columns, df.filter(like='Liabilities-Debt securities')], axis=1)
    claims_df_oi = pd.concat([common_columns, df.filter(like='Claims-Other instruments')], axis=1)
    liabilities_df_oi = pd.concat([common_columns, df.filter(like='Liabilities-Other instruments')], axis=1)
    
    # Return all the dataframes
    return claims_df_total, liabilities_df_total, claims_df_ld, liabilities_df_ld, claims_df_ds, liabilities_df_ds, claims_df_oi, liabilities_df_oi

def split5d(df):
    # Extract common columns (No and Komponen)
    common_columns = df.filter(regex='NO|Komponen')
    
    # Filter for Claims and Liabilities by categories using df.filter(like=...) and concatenate with common columns
    claims_df_total = pd.concat([common_columns, df.filter(like='Claims-Total')], axis=1)
    liabilities_df_total = pd.concat([common_columns, df.filter(like='Liabilities-Total')], axis=1)
    claims_df_b = pd.concat([common_columns, df.filter(like='Claims-Banks')], axis=1)
    liabilities_df_b = pd.concat([common_columns, df.filter(like='Liabilities-Banks')], axis=1)
    claims_df_nb = pd.concat([common_columns, df.filter(like='Claims-Nonbanks')], axis=1)
    liabilities_df_nb = pd.concat([common_columns, df.filter(like='Liabilities-Nonbanks')], axis=1)
    
    # Return all the dataframes
    return claims_df_total, liabilities_df_total, claims_df_b, liabilities_df_b, claims_df_nb, liabilities_df_nb

def split5d1(df):
    # Extract common columns (No and Komponen)
    common_columns = df.filter(regex='NO|Komponen')
    
    # Filter for Claims and Liabilities by categories using df.filter(like=...) and concatenate with common columns
    claims_df_total = pd.concat([common_columns, df.filter(like='Claims-Total')], axis=1)
    liabilities_df_total = pd.concat([common_columns, df.filter(like='Liabilities-Total')], axis=1)
    claims_df_r = pd.concat([common_columns, df.filter(like='Claims-Related offices')], axis=1)
    liabilities_df_r = pd.concat([common_columns, df.filter(like='Liabilities-Related offices')], axis=1)
    
    # Return all the dataframes
    return claims_df_total, liabilities_df_total, claims_df_r, liabilities_df_r

def split5d2(df):
    # Extract common columns (No and Komponen)
    common_columns = df.filter(regex='NO|Komponen')
    
    # Filter for Claims and Liabilities by categories using df.filter(like=...) and concatenate with common columns
    claims_df_total = pd.concat([common_columns, df.filter(like='Claims-Total')], axis=1)
    liabilities_df_total = pd.concat([common_columns, df.filter(like='Liabilities-Total')], axis=1)
    claims_df_nb = pd.concat([common_columns, df.filter(like='Claims-Non-bank financial ins.')], axis=1)
    liabilities_df_nb = pd.concat([common_columns, df.filter(like='Liabilities-Non-bank financial ins.')], axis=1)
    claims_df_nf = pd.concat([common_columns, df.filter(like='Claims-Non-financial corporations')], axis=1)
    liabilities_df_nf = pd.concat([common_columns, df.filter(like='Liabilities-Non-financial corporations')], axis=1)
    
    # Return all the dataframes
    return claims_df_total, liabilities_df_total, claims_df_nb, liabilities_df_nb, claims_df_nf, liabilities_df_nf

In [6]:
def prepare_all(name, input_df):

    # Step 2: Filter the DataFrame based on the selected columns
    filtered_df = input_df

    # Step 3: Replace '-' with NaN and drop rows with NaN
    filtered_df.replace('-', np.nan, inplace=True)

    # Step 4: Transpose the table, so NO and Komponen become the headers
    transposed_df = filtered_df.set_index(['NO', 'Komponen']).T
    
    return transposed_df

In [7]:
import numpy as np
import pandas as pd

# Month mapping dictionary
month_mapping = {
    'Jan': 'Jan',
    'Feb': 'Feb',
    'Mar': 'Mar',
    'Apr': 'Apr',
    'Mei': 'May',
    'Jun': 'Jun',
    'Jul': 'Jul',
    'Agt': 'Aug',
    'Sept': 'Sep',
    'Okt': 'Oct',
    'Nov': 'Nov',
    'Des': 'Dec',
    'Q1': 'Mar',
    'Q2': 'Jun',
    'Q3': 'Sep',
    'Q4': 'Dec'
}

# Function to reformat Periode
def reformat_periode(periode):
    tokens = periode.split('-')
    
    if len(tokens) > 1:
        year = tokens[0]
        month = tokens[1]
        # Clean the month in case there are additional characters like 'Dec*' or 'OctX'
        month = re.sub(r'[^A-Za-z0-9]', '', month)
        
        # Map the cleaned month to the dictionary
        return f"{year}-{month_mapping.get(month, month)}"
    
    elif len(tokens) == 1:
        # Single-token period handling
        cleaned_token = re.sub(r'[^A-Za-z0-9]', '', tokens[0])  # Clean the single token
        return month_mapping.get(cleaned_token, cleaned_token)
    
    return periode  # Handle unexpected cases gracefully

def detect_outliers_iqr(name,df):
    # Pastikan DataFrame tidak kosong sebelum melanjutkan
    if df.empty:
        print("DataFrame is empty.")
        return pd.DataFrame(columns=['Komponen','Detail', 'Tahun', 'Nilai', 'Batas Bawah', 'Batas Atas', 'Outlier', 'Gap', 'last_period'])
    
    if name == "5.d.2":
        name = "5d2"
    
    # Replace string values (including '-') with NaN
    df = df.replace('-', np.nan).map(lambda x: np.nan if isinstance(x, str) else x)
    
    # Get the last period for each component (assuming index represents period/year)
    last_period = df.index[-1] if len(df.index) > 0 else None

    outliers_data = []
    for column in df.columns:
        # Ensure all values in the column are numeric
        df[column] = pd.to_numeric(df[column], errors='coerce')
        col_data = df[column].dropna()
        
        if col_data.empty:
            continue  # Skip columns with no numeric data
        
        # Calculate IQR, lower bound, and upper bound
        Q1 = col_data.quantile(0.25)
        Q3 = col_data.quantile(0.75)
        IQR = Q3 - Q1

        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        # Process each value and identify if it's an outlier
        for index, value in df[column].items():
            is_outlier = value < lower_bound or value > upper_bound
            
            # Calculate gap only for outliers, leave empty for non-outliers
            gap = None
            if is_outlier:
                gap = (value - upper_bound) if value > upper_bound else (lower_bound - value)
            token = index.split("-",2)
            if len(token) == 3:
                detail = token[2]
            else:
                detail = '-'


            outliers_data.append({
                'Tabel' : name,
                'No_Komponen':int(column[0]),
                'Komponen': column[1],
                'Detail' : detail,
                'Periode': index,
                'Nilai': value,
                'Batas Bawah': lower_bound,
                'Batas Atas': upper_bound,
                'Outlier': 'Ya' if is_outlier else 'Tidak',
                'Gap': gap,
                'last_period': last_period
            })
    
    # Create the DataFrame with the collected outlier data
    df_outliers = pd.DataFrame(outliers_data)

    # # Apply the function to the Periode column
    df_outliers['Periode'] = df_outliers['Periode'].apply(reformat_periode)
    df_outliers['last_period'] = df_outliers['last_period'].apply(reformat_periode)

    
    return df_outliers

In [8]:
# name = "1"
# raw_df = prepare_dataframe(name, 2)
# checked_df = prepare_all(name, raw_df)
# checked_df = checked_df.iloc[1:]
# outliers_df = detect_outliers_iqr(name,checked_df)
# # Add a new column 'No.' that contains the index values
# outliers_df.insert(0, 'No.', range(1, len(outliers_df) + 1))
# # Display the updated DataFrame
# display(outliers_df)

# output_path = r"/Users/ferroyudisthira/Desktop/DSTA_DQAD/V&H_Check/application/data/data_pencilan_sski.csv"
# outliers_df.to_csv(output_path, index=False)

In [9]:
import pandas as pd

sheet_names = ["1","2","3","4","5a","5b","5c","5d","5d.1","5.d.2","6","7","8","9","10","11","11a","12","13","14","15","16","16a","17","18","19","20"]  

all_outliers = []

# Loop to process all sheets
for name in sheet_names:
    print(f"Processing SSKI {name}...")

    if name == "5a":
        raw_df = prepare_dataframe5(name)
        
        claims_df, liabilities_df = split5a(raw_df)
        
        claims_df = prepare_all(name, claims_df)
        liabilities_df = prepare_all(name, liabilities_df)
        
        claims_outliers = detect_outliers_iqr(name, claims_df)
        all_outliers.append(claims_outliers)

        liabilities_outliers = detect_outliers_iqr(name, liabilities_df)
        all_outliers.append(liabilities_outliers)

    elif name in ["5b", "5c"]:
        raw_df = prepare_dataframe5(name)
        
        splits = split5b(raw_df)
        
        for claims_df, liabilities_df in zip(splits[::2], splits[1::2]):
            claims_df = prepare_all(name, claims_df)
            claims_outliers = detect_outliers_iqr(name, claims_df)
            all_outliers.append(claims_outliers)

            liabilities_df = prepare_all(name, liabilities_df)
            liabilities_outliers = detect_outliers_iqr(name, liabilities_df)
            all_outliers.append(liabilities_outliers)

    elif name == "5d":
        raw_df = prepare_dataframe5(name)
        
        splits = split5d(raw_df)
        
        for claims_df, liabilities_df in zip(splits[::2], splits[1::2]):
            claims_df = prepare_all(name, claims_df)
            claims_outliers = detect_outliers_iqr(name, claims_df)
            all_outliers.append(claims_outliers)

            liabilities_df = prepare_all(name, liabilities_df)
            liabilities_outliers = detect_outliers_iqr(name, liabilities_df)
            all_outliers.append(liabilities_outliers)

    elif name == "5d.1":
        raw_df = prepare_dataframe5(name)
        
        claims_df_total, liabilities_df_total, claims_df_r, liabilities_df_r = split5d1(raw_df)
        
        for df in [claims_df_total, liabilities_df_total, claims_df_r, liabilities_df_r]:
            df = prepare_all(name, df)
            outliers = detect_outliers_iqr(name, df)
            all_outliers.append(outliers)

    elif name == "5.d.2":
        raw_df = prepare_dataframe5(name)
        
        claims_df_total, liabilities_df_total, claims_df_nb, liabilities_df_nb, claims_df_nf, liabilities_df_nf = split5d2(raw_df)
        
        for df in [claims_df_total, liabilities_df_total, claims_df_nb, liabilities_df_nb, claims_df_nf, liabilities_df_nf]:
            df = prepare_all(name, df)
            outliers = detect_outliers_iqr(name, df)
            all_outliers.append(outliers)

    else:
        raw_df = prepare_dataframe(name, 2)
        checked_df = prepare_all(name, raw_df)
        checked_df = checked_df.iloc[1:]
        outliers_df = detect_outliers_iqr(name, checked_df)
        all_outliers.append(outliers_df)

# Concatenate all outliers and export to a single CSV file
combined_outliers = pd.concat(all_outliers, ignore_index=True)
combined_outliers.insert(0, 'No.', range(1, len(combined_outliers) + 1))

combined_outliers.to_csv('/Users/ferroyudisthira/Desktop/DSTA_DQAD/V&H_Check/data/data_pencilan_sski.csv', index=False, sep=";")

Processing SSKI 1...
Processing SSKI 2...
Processing SSKI 3...
Processing SSKI 4...
Processing SSKI 5a...

,NO,Komponen,2021-Jan-Claims,2021-Jan-Liabilities,2021-Feb-Claims,2021-Feb-Liabilities,2021-Mar-Claims,2021-Mar-Liabilities,2021-Apr-Claims,2021-Apr-Liabilities,...,2024-Apr*-Claims,2024-Apr*-Liabilities,2024-May*-Claims,2024-May*-Liabilities,2024-Jun*-Claims,2024-Jun*-Liabilities,2024-Jul*-Claims,2024-Jul*-Liabilities,2024-Aug*-Claims,2024-Aug*-Liabilities
0,1,Seluruh Negara,618232.564,587306.881188,620782.601,588819.779617,633599.116,601129.978079,617088.816,587942.966528,...,701817.376,671829.389,705380.343,675325.638,712180.505,681494.931,706051.636,669756.049,753201.076,713713.377
1,2,Luar Negeri (Nonresiden),19461.197,53195.300000,19826.022,53574.933000,19991.969,53236.475000,19135.509,52794.905000,...,25456.610,53894.175,25492.452,53685.539,26415.385,53584.498,23483.036,53299.959,25421.535,55725.217
2,3,Bank,18497.409,43573.681000,18858.669,43579.729000,19080.439,42691.814000,18225.307,42009.547000,...,22009.787,39790.408,22270.972,39744.795,23053.625,39712.379,20586.271,39493.397,22375.887,41481.090
3,4,a.l. : Antar-Kantor,7700.037,35501.243000,7683.429,35158.382000,7914.313,34437.513000,8115.041,33693.500000,...,10969.200,0.000,22270.972,39744.795,10792.209,0.000,10255.969,0.000,11486.698,0.000
4,5,Non-Bank,963.429,9621.467000,966.931,9995.171000,911.084,10544.583000,909.742,10785.239000,...,3432.894,14068.129,3211.212,13912.131,3348.558,13842.909,2883.963,13766.802,3039.536,14202.995
5,6,Institusi Keuangan Non-Bank,57.402,6034.124000,38.833,6051.701000,36.561,6493.514000,37.505,6755.124000,...,97.056,9604.488,93.286,9521.143,98.922,9493.152,108.256,9339.322,105.288,9904.956
6,7,Sektor Non-Finansial,906.027,3587.343000,928.098,3943.470000,874.523,4051.069000,872.237,4030.115000,...,3335.838,4463.641,3117.926,4390.988,3249.636,4349.757,2775.707,4427.480,2934.248,4298.039
7,8,Indonesia (Residen),598769.151,533968.885188,600954.244,535103.597617,613598.478,547755.588079,597950.914,535009.031528,...,676319.112,617935.214,679844.851,621640.099,685721.736,627910.433,682523.411,616456.090,727734.873,657988.160
8,9,Bank,116524.503,45439.360188,118826.654,46609.874617,124764.632,45332.962079,117139.287,43942.594528,...,122711.345,57891.419,124869.254,58788.878,124156.431,62851.501,123324.936,62407.832,137835.950,72545.907
9,10,a.l. : Antar-Kantor,1838.092,28914.070000,1668.963,28899.005000,1935.600,28152.604000,1770.083,27003.322000,...,1915.874,0.000,1779.226,0.000,1746.096,0.000,1699.019,0.000,1860.781,0.000
10,11,Non-Bank,479494.500,486998.547000,479336.295,486978.407000,486164.585,500270.676000,478059.494,489579.924000,...,549701.364,558393.458,550859.462,561427.442,557550.001,563578.015,555271.614,552682.978,585241.925,583934.135
11,12,Institusi Keuangan Non-Bank,24207.574,48230.141000,23533.049,46926.686000,23077.315,45103.661000,22733.210,44361.669000,...,39638.000,57719.856,40626.503,58788.952,41716.827,57474.005,41931.956,51550.676,44724.774,54929.382
12,13,Sektor Non-Finansial,455286.926,438768.406000,455803.246,440051.721000,463087.270,455167.015000,455326.284,445218.255000,...,510063.364,500673.602,510232.959,502638.490,515833.174,506104.010,513339.658,501132.302,540517.151,529004.753
13,14,Lokasi Tidak Teridentifikasi,2.216,142.696000,2.335,141.249000,8.669,137.915000,2.393,139.030000,...,41.654,0.000,43.040,0.000,43.384,0.000,45.189,0.000,44.668,0.000
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing SSKI 5b...

,NO,Komponen,2021-Jan-Claims-Total,2021-Jan-Claims-Loan & deposits,2021-Jan-Claims-Debt securities,2021-Jan-Claims-Other instruments,2021-Jan-Liabilities-Total,2021-Jan-Liabilities-Loan & deposits,2021-Jan-Liabilities-Debt securities,2021-Jan-Liabilities-Other instruments,...,2024-Jul*-Liabilities-Debt securities,2024-Jul*-Liabilities-Other instruments,2024-Aug*-Claims-Total,2024-Aug*-Claims-Loan & deposits,2024-Aug*-Claims-Debt securities,2024-Aug*-Claims-Other instruments,2024-Aug*-Liabilities-Total,2024-Aug*-Liabilities-Loan & deposits,2024-Aug*-Liabilities-Debt securities,2024-Aug*-Liabilities-Other instruments
0,1,Seluruh Negara,618232.564,485837.419,113204.582,19190.563,587306.881188,506852.892,12840.062188,67613.927,...,9597.564,82294.463,753201.076,563130.693,164233.439,25836.944,713713.377,614751.009,9662.674,89299.694
1,2,Luar Negeri (Nonresiden),19461.197,12479.162,1597.279,5384.756,53195.300000,27988.176,4026.525000,21180.599,...,3008.399,26606.225,25421.535,13615.836,4502.996,7302.703,55725.217,24586.081,2994.978,28144.158
2,3,Bank,18497.409,12476.610,779.425,5241.374,43573.681000,24931.555,2109.115000,16533.011,...,1523.769,18795.815,22375.887,13615.792,1561.155,7198.940,41481.09,20193.417,1493.553,19794.12
3,4,a.l. : Antar-Kantor,7700.037,2482.034,167.734,5050.269,35501.243000,18944.177,243.262000,16313.804,...,-,-,11486.698,4180.013,379.206,6927.479,-,-,-,-
4,5,Non-Bank,963.429,2.552,817.854,143.023,9621.467000,3056.621,1917.410000,4647.436,...,1484.63,7810.015,3039.536,0.044,2941.841,97.651,14202.995,4351.935,1501.425,8349.635
5,6,Institusi Keuangan Non-Bank,57.402,0.000,0.000,57.402,6034.124000,1242.454,1782.855000,3008.815,...,1338.762,6787.998,105.288,0.044,18.661,86.583,9904.956,1223.646,1347.863,7333.447
6,7,Sektor Non-Finansial,906.027,2.552,817.854,85.621,3587.343000,1814.167,134.555000,1638.621,...,145.868,1022.017,2934.248,0.000,2923.180,11.068,4298.039,3128.289,153.562,1016.188
7,8,Indonesia (Residen),598769.151,473356.041,111607.303,13805.807,533968.885188,478864.608,8813.537188,46290.740,...,6589.165,55688.238,727734.873,549470.189,159730.443,18534.241,657988.16,590164.928,6667.696,61155.536
8,9,Bank,116524.503,96097.639,16348.587,4078.277,45439.360188,11792.021,4043.989188,29603.350,...,3077.476,35744.589,137835.950,73322.312,58743.771,5769.867,72545.907,29488.279,3132.597,39925.031
9,10,a.l. : Antar-Kantor,1838.092,507.157,99.157,1231.778,28914.070000,333.353,49.969000,28530.748,...,-,-,1860.781,433.608,175.441,1251.732,-,-,-,-
10,11,Non-Bank,479494.500,377226.699,95258.716,7009.085,486998.547000,467060.588,4769.548000,15168.411,...,3511.689,19305.211,585241.925,476006.664,100986.672,8248.589,583934.135,559859.902,3535.099,20539.134
11,12,Institusi Keuangan Non-Bank,24207.574,15888.282,5729.737,2589.555,48230.141000,37310.963,3437.531000,7481.647,...,1895.826,9947.908,44724.774,29307.157,10231.047,5186.570,54929.382,42571.838,1830.229,10527.315
12,13,Sektor Non-Finansial,455286.926,361338.417,89528.979,4419.530,438768.406000,429749.625,1332.017000,7686.764,...,1615.863,9357.303,540517.151,446699.507,90755.625,3062.019,529004.753,517288.064,1704.87,10011.819
13,14,Lokasi Tidak Teridentifikasi,2.216,2.216,0.000,0.000,142.696000,0.108,0.000000,142.588,...,0,0,44.668,44.668,0.000,0.000,0,0,0,0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing SSKI 5c...

,NO,Komponen,2021-Jan-Claims-Total,2021-Jan-Claims-Loan & deposits,2021-Jan-Claims-Debt securities,2021-Jan-Claims-Other instruments,2021-Jan-Liabilities-Total,2021-Jan-Liabilities-Loan & deposits,2021-Jan-Liabilities-Debt securities,2021-Jan-Liabilities-Other instruments,...,2024-Jul*-Liabilities-Debt securities,2024-Jul*-Liabilities-Other instruments,2024-Aug*-Claims-Total,2024-Aug*-Claims-Loan & deposits,2024-Aug*-Claims-Debt securities,2024-Aug*-Claims-Other instruments,2024-Aug*-Liabilities-Total,2024-Aug*-Liabilities-Loan & deposits,2024-Aug*-Liabilities-Debt securities,2024-Aug*-Liabilities-Other instruments
0,1,Seluruh Negara Mitra,19461.197,12479.162,1597.279,5384.756,53195.300,27988.176,4026.525,21180.599,...,3008.399,26606.225,25421.535,13615.836,4502.996,7302.703,55725.217,24586.081,2994.978,28144.158
1,2,Amerika,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Amerika Serikat,8032.674,5225.674,136.938,2670.062,4267.912,3097.405,257.088,913.419,...,67.204,1018.359,10137.762,4454.298,1881.888,3801.576,4395.485,3225.376,74.306,1095.803
3,4,Kanada,130.000,129.945,0.051,0.004,34.390,21.886,1.130,11.374,...,0.570,19.431,63.358,60.254,3.083,0.021,33.776,21.111,0.627,12.038
4,5,Brazil,0.277,0.000,0.277,0.000,4.838,4.381,0.457,0.000,...,0.128,0.000,0.004,0.000,0.000,0.004,6.180,5.897,0.283,0.000
5,6,Eropa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,Belanda,113.643,113.478,0.164,0.001,70.810,45.938,13.334,11.538,...,12.505,9.124,11.855,5.549,0.326,5.980,246.534,224.286,12.741,9.507
7,8,Belgia,71.266,71.217,0.000,0.049,182.146,176.904,4.653,0.589,...,0.387,0.845,65.436,63.779,1.531,0.126,109.247,108.195,0.263,0.789
8,9,Inggris,999.275,577.428,1.829,420.018,3261.289,1323.960,411.519,1525.810,...,266.318,1620.939,1329.459,1113.343,2.551,213.565,2586.544,589.450,268.173,1728.921
9,10,Jerman,433.460,399.090,1.160,33.210,704.585,355.567,60.052,288.966,...,102.856,261.126,1170.814,940.563,3.992,226.259,902.941,508.223,106.713,288.005
10,11,Norwegia,111.002,111.002,0.000,0.000,25.250,4.881,1.469,18.900,...,0.793,11.082,41.185,41.152,0.033,0.000,15.532,3.062,0.798,11.672
11,12,Perancis,412.169,403.164,3.217,5.788,724.086,247.569,29.476,447.041,...,19.808,385.181,120.642,106.894,3.775,9.973,685.201,256.831,21.111,407.259
12,13,Swiss (termasuk BIS),51.812,51.467,0.000,0.345,122.539,21.129,89.119,12.291,...,85.884,25.945,29.604,27.615,0.000,1.989,144.612,34.507,83.693,26.412
13,14,Afrika dan Timur Tengah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Arab Saudi,62.421,57.563,3.700,1.158,33.879,11.980,0.249,21.650,...,0.000,4.896,92.930,86.533,4.256,2.141,32.304,27.193,0.000,5.111
15,16,Kuwait,0.886,0.033,0.740,0.113,38.217,0.989,12.527,24.701,...,0.000,3.966,0.035,0.035,0.000,0.000,7.612,1.826,0.000,5.786
16,17,Mesir,0.453,0.000,0.453,0.000,1.992,1.892,0.100,0.000,...,0.000,0.000,5.286,0.000,5.286,0.000,2.123,2.123,0.000,0.000
17,18,Qatar,172.302,0.036,30.030,142.236,437.296,2.156,15.577,419.563,...,2.218,515.358,250.165,0.020,0.277,249.868,557.343,8.876,2.632,545.835
18,19,Uni Emirat Arab,600.653,1.407,598.761,0.485,221.630,10.045,138.562,73.023,...,233.233,75.103,17.324,13.552,3.639,0.133,422.852,133.706,210.125,79.021
19,20,Asia dan Pasifik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,Australia,354.211,309.967,36.344,7.900,1037.909,90.444,62.180,885.285,...,73.807,450.907,354.811,207.121,6.340,141.350,664.306,119.859,72.631,471.816
21,22,Brunai Darusalam,0.477,0.475,0.000,0.002,1.388,1.388,0.000,0.000,...,0.000,0.010,0.941,0.941,0.000,0.000,1.307,1.296,0.000,0.011
22,23,Filipina,2.076,0.044,1.711,0.321,40.839,32.741,8.093,0.005,...,0.000,0.234,35.351,0.057,35.125,0.169,22.400,22.196,0.000,0.204
23,24,India,53.447,0.432,6.704,46.311,169.946,27.913,18.126,123.907,...,16.510,196.555,122.559,0.558,67.102,54.899,263.581,37.566,17.461,208.554
24,25,Jepang,683.465,432.567,5.476,245.422,13641.578,6386.345,102.013,7153.220,...,89.995,8488.833,1995.920,1838.824,8.090,149.006,15726.669,6588.344,71.375,9066.950
25,26,Kamboja,0.000,0.000,0.000,0.000,0.165,0.165,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.775,0.775,0.000,0.000
26,27,Korea Selatan,338.662,98.237,171.785,68.640,2534.901,1243.159,84.260,1207.482,...,71.423,2302.074,1166.820,107.938,272.862,786.020,4255.319,1744.175,68.918,2442.226
27,28,Laos,0.000,0.000,0.000,0.000,0.008,0.008,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.160,0.160,0.000,0.000
28,29,Malaysia,42.677,12.302,5.890,24.485,3173.519,666.515,98.750,2408.254,...,91.097,2563.378,632.486,26.841,534.937,70.708,3417.815,586.335,89.490,2741.990
29,30,Myanmar,0.000,0.000,0.000,0.000,1.524,1.524,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,1.518,1.518,0.000,0.000
30,31,Selandia Baru,20.208,20.205,0.000,0.003,11.546,7.813,3.569,0.164,...,5.900,0.425,52.569,52.569,0.000,0.000,17.601,10.588,6.590,0.423
31,32,Taiwan,11.193,7.469,2.760,0.964,528.711,142.661,162.953,223.097,...,70.559,240.981,137.142,109.027,25.693,2.422,426.752,95.994,75.785,254.973
32,33,Thailand,121.793,5.403,82.332,34.058,2126.522,713.393,33.340,1379.789,...,62.743,1360.537,289.418,167.662,106.644,15.112,1527.693,75.458,61.889,1390.346
33,34,Timor Leste,64.832,0.000,0.000,64.832,150.822,150.822,0.000,0.000,...,0.000,0.922,99.275,0.002,0.000,99.273,38.160,35.736,0.000,2.424
34,35,Tiongkok,759.278,452.780,250.869,55.629,3597.438,2541.354,260.954,795.130,...,243.382,1029.585,1152.785,346.563,774.315,31.907,2224.582,860.320,264.416,1099.846
35,36,Vietnam,33.336,0.094,32.757,0.485,112.168,100.538,11.630,0.000,...,18.324,0.006,3.697,0.026,2.649,1.022,19.414,3.854,15.560,0.000
36,37,Offshore centres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38,Hong Kong,1811.025,1217.114,81.962,511.949,3579.902,2775.605,677.790,126.507,...,554.877,702.345,711.043,440.308,96.074,174.661,2772.445,1498.726,541.523,732.196
38,39,"Cayman, Kepulauan",585.288,218.848,39.211,327.229,25.150,20.115,0.000,5.035,...,0.000,12.449,1350.204,925.590,0.000,424.614,89.148,69.419,0.000,19.729
39,40,Singapura,3236.942,2523.236,84.188,629.518,11056.638,6767.073,1369.133,2920.432,...,853.586,5129.976,3701.872,2336.277,616.524,749.071,12595.764,6400.768,862.983,5332.013
40,41,Lainnya,149.994,38.485,17.970,93.539,1273.767,991.918,98.422,183.427,...,64.292,175.653,278.783,141.945,46.004,90.834,1511.522,1282.332,64.892,164.298
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing SSKI 5d...

,NO,Komponen,2021-Jan-Claims-Total,2021-Jan-Claims-Banks,2021-Jan-Claims-Nonbanks,2021-Jan-Liabilities-Total,2021-Jan-Liabilities-Banks,2021-Jan-Liabilities-Nonbanks,2021-Feb-Claims-Total,2021-Feb-Claims-Banks,...,2024-Jul*-Liabilities-Banks,2024-Jul*-Liabilities-Nonbanks,2024-Jul*-Liabilities-Unallocated,2024-Aug*-Claims-Total,2024-Aug*-Claims-Banks,2024-Aug*-Claims-Nonbanks,2024-Aug*-Liabilities-Total,2024-Aug*-Liabilities-Banks,2024-Aug*-Liabilities-Nonbanks,2024-Aug*-Liabilities-Unallocated
0,1,Seluruh Negara Mitra,19461.197,18497.409,963.429,53195.300,43573.681,9621.467,19826.022,18858.669,...,39493.397,13766.802,39.760,25421.535,22375.887,3039.536,55725.217,41481.090,14202.995,41.132
1,2,Amerika,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Amerika Serikat,8032.674,7914.221,118.094,4267.912,3717.588,550.199,8324.309,8184.257,...,3397.853,829.363,16.352,10137.762,8310.058,1822.332,4395.485,3458.825,928.252,8.408
3,4,Kanada,130.000,129.996,0.004,34.390,5.473,28.917,28.187,28.183,...,4.296,35.216,0.000,63.358,63.337,0.021,33.776,0.809,32.967,0.000
4,5,Brazil,0.277,0.277,0.000,4.838,0.457,4.381,0.153,0.153,...,0.128,5.421,0.000,0.004,0.000,0.004,6.180,0.283,5.897,0.000
5,6,Eropa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,Belanda,113.643,113.642,0.001,70.810,26.280,44.530,114.935,114.751,...,122.527,107.897,0.000,11.855,11.851,0.004,246.534,123.570,122.964,0.000
7,8,Belgia,71.266,71.219,0.047,182.146,172.636,9.510,75.404,75.356,...,74.553,12.308,0.000,65.436,65.396,0.040,109.247,96.637,12.610,0.000
8,9,Inggris,999.275,997.194,2.081,3261.289,2613.942,647.347,992.552,990.780,...,1623.082,635.932,0.000,1329.459,1322.965,6.494,2586.544,1852.515,734.029,0.000
9,10,Jerman,433.460,432.389,1.071,704.585,665.307,39.278,393.171,392.677,...,779.664,65.214,0.011,1170.814,1170.810,0.002,902.941,836.528,66.400,0.013
10,11,Norwegia,111.002,111.002,0.000,25.250,8.070,17.180,101.530,101.530,...,4.945,10.169,0.000,41.185,41.185,0.000,15.532,0.932,14.600,0.000
11,12,Perancis,412.169,407.882,4.287,724.086,652.082,72.004,415.200,410.786,...,504.049,109.557,0.014,120.642,120.263,0.379,685.201,575.760,109.429,0.012
12,13,Swiss (termasuk BIS),51.812,51.467,0.345,122.539,60.337,62.202,28.210,28.156,...,63.855,75.291,0.000,29.604,29.495,0.109,144.612,65.741,78.871,0.000
13,14,Afrika dan Timur Tengah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Arab Saudi,62.421,62.421,0.000,33.879,10.579,23.300,59.633,59.633,...,18.536,11.282,0.000,92.930,92.930,0.000,32.304,18.581,13.723,0.000
15,16,Kuwait,0.886,0.886,0.000,38.217,37.104,1.113,0.532,0.532,...,2.077,3.392,0.000,0.035,0.035,0.000,7.612,0.000,7.612,0.000
16,17,Mesir,0.453,0.453,0.000,1.992,0.100,1.892,2.112,2.112,...,0.044,2.026,0.000,5.286,5.286,0.000,2.123,0.044,2.079,0.000
17,18,Qatar,172.302,172.302,0.000,437.296,420.600,16.696,175.212,175.212,...,515.705,8.740,0.000,250.165,250.165,0.000,557.343,546.541,10.802,0.000
18,19,Uni Emirat Arab,600.653,32.633,568.020,221.630,9.432,212.198,594.837,32.605,...,113.872,220.608,0.000,17.324,17.324,0.000,422.852,183.033,239.819,0.000
19,20,Asia dan Pasifik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,Australia,354.211,354.205,0.006,1037.909,877.555,160.354,316.309,316.276,...,435.901,228.163,0.000,354.811,354.726,0.052,664.306,447.970,216.336,0.000
21,22,Brunai Darusalam,0.477,0.475,0.002,1.388,0.043,1.345,0.588,0.584,...,0.044,1.306,0.000,0.941,0.941,0.000,1.307,0.044,1.263,0.000
22,23,Filipina,2.076,2.076,0.000,40.839,21.023,19.816,2.712,2.709,...,5.924,16.309,0.000,35.351,35.325,0.026,22.400,5.625,16.775,0.000
23,24,India,53.447,53.445,0.002,169.946,134.920,35.026,59.214,51.841,...,213.075,36.456,0.000,122.559,118.589,3.970,263.581,226.023,37.558,0.000
24,25,Jepang,683.465,668.851,14.614,13641.578,10444.434,3197.117,700.389,688.446,...,11370.339,3683.257,18.495,1995.920,1990.691,5.229,15726.669,11771.159,3930.628,24.882
25,26,Kamboja,0.000,0.000,0.000,0.165,0.000,0.165,0.000,0.000,...,0.000,0.822,0.000,0.000,0.000,0.000,0.775,0.008,0.767,0.000
26,27,Korea Selatan,338.662,338.627,0.035,2534.901,2307.094,227.807,378.959,378.914,...,2647.929,1564.181,0.000,1166.820,1163.147,3.673,4255.319,2603.545,1651.774,0.000
27,28,Laos,0.000,0.000,0.000,0.008,0.000,0.008,0.000,0.000,...,0.000,0.131,0.000,0.000,0.000,0.000,0.160,0.000,0.160,0.000
28,29,Malaysia,42.677,36.953,5.724,3173.519,2748.378,425.141,52.127,41.936,...,2684.194,520.033,0.000,632.486,105.036,527.450,3417.815,2880.765,537.050,0.000
29,30,Myanmar,0.000,0.000,0.000,1.524,0.000,1.524,0.000,0.000,...,0.000,1.623,0.000,0.000,0.000,0.000,1.518,0.000,1.518,0.000
30,31,Selandia Baru,20.208,20.208,0.000,11.546,3.729,7.817,20.931,20.929,...,5.983,11.668,0.000,52.569,52.569,0.000,17.601,6.146,11.455,0.000
31,32,Taiwan,11.193,11.179,0.014,528.711,162.435,366.276,11.379,11.364,...,108.666,293.176,0.000,137.142,130.264,6.327,426.752,115.449,311.303,0.000
32,33,Thailand,121.793,121.712,0.081,2126.522,2113.753,12.769,112.733,112.664,...,1467.076,48.899,0.000,289.418,288.980,0.438,1527.693,1486.751,40.942,0.000
33,34,Timor Leste,64.832,64.832,0.000,150.822,147.878,2.944,86.946,86.946,...,26.658,11.228,0.000,99.275,99.253,0.022,38.160,26.824,11.336,0.000
34,35,Tiongkok,759.278,703.404,55.874,3597.438,3351.722,245.716,732.030,667.457,...,1850.730,277.398,0.157,1152.785,1152.601,0.180,2224.582,1956.686,267.704,0.192
35,36,Vietnam,33.336,33.336,0.000,112.168,111.247,0.921,41.255,41.084,...,18.325,4.598,0.000,3.697,3.695,0.002,19.414,15.561,3.853,0.000
36,37,Offshore centres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38,Hong Kong,1811.025,1778.962,32.063,3579.902,2816.119,763.783,1798.544,1758.465,...,1557.822,1156.245,0.000,711.043,689.337,21.706,2772.445,1635.093,1137.352,0.000
38,39,"Cayman, Kepulauan",585.288,546.077,39.211,25.150,0.586,24.564,637.636,598.244,...,13.166,94.817,0.000,1350.204,1350.204,0.000,89.148,20.558,68.590,0.000
39,40,Singapura,3236.942,3127.711,109.231,11056.638,9509.972,1546.666,3357.474,3292.946,...,9444.383,2694.222,4.731,3701.872,3077.265,624.457,12595.764,9987.420,2600.719,7.625
40,41,Lainnya,149.994,137.372,12.622,1273.767,422.806,850.961,210.819,191.141,...,417.996,989.854,0.000,278.783,262.164,16.619,1511.522,535.664,975.858,0.000
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing SSKI 5d.1...

,NO,Komponen,2021-Jan-Claims-Total,2021-Jan-Claims-Related offices,2021-Jan-Liabilities-Total,2021-Jan-Liabilities-Related offices,2021-Feb-Claims-Total,2021-Feb-Claims-Related offices,2021-Feb-Liabilities-Total,2021-Feb-Liabilities-Related offices,...,2024-Jun*-Liabilities-Total,2024-Jun*-Liabilities-Related offices,2024-Jul*-Claims-Total,2024-Jul*-Claims-Related offices,2024-Jul*-Liabilities-Total,2024-Jul*-Liabilities-Related offices,2024-Aug*-Claims-Total,2024-Aug*-Claims-Related offices,2024-Aug*-Liabilities-Total,2024-Aug*-Liabilities-Related offices
0,1,Seluruh Negara Mitra,18497.409,7700.037,43573.681,35501.243,18858.669,7683.429,43579.729,35158.382,...,39712.379,-,20586.271,10255.969,39493.397,-,22375.887,11486.698,41481.090,-
1,2,Amerika,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Amerika Serikat,7914.221,3101.916,3717.588,3320.339,8184.257,2966.084,3930.520,3310.588,...,3413.054,-,8480.396,4472.122,3397.853,-,8310.058,4733.432,3458.825,-
3,4,Kanada,129.996,6.276,5.473,0.001,28.183,6.077,5.884,0.049,...,5.019,-,31.621,0.142,4.296,-,63.337,0.060,0.809,-
4,5,Brazil,0.277,0.000,0.457,0.000,0.153,0.000,0.265,0.000,...,0.258,-,0.000,0.000,0.128,-,0.000,0.000,0.283,-
5,6,Eropa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,Belanda,113.642,0.000,26.280,2.001,114.751,0.000,26.963,2.040,...,130.621,-,3.807,0.000,122.527,-,11.851,0.000,123.570,-
7,8,Belgia,71.219,0.000,172.636,0.000,75.356,3.107,163.947,0.000,...,202.778,-,29.344,0.000,74.553,-,65.396,0.000,96.637,-
8,9,Inggris,997.194,533.875,2613.942,2256.825,990.780,514.820,2590.332,2251.280,...,1582.268,-,1118.903,336.284,1623.082,-,1322.965,360.187,1852.515,-
9,10,Jerman,432.389,75.068,665.307,618.239,392.677,58.834,661.108,604.070,...,765.580,-,568.207,87.879,779.664,-,1170.810,242.909,836.528,-
10,11,Norwegia,111.002,0.278,8.070,0.000,101.530,0.281,6.809,0.000,...,5.546,-,60.984,0.213,4.945,-,41.185,0.223,0.932,-
11,12,Perancis,407.882,100.609,652.082,566.190,410.786,100.493,718.850,603.907,...,504.622,-,185.286,5.441,504.049,-,120.263,8.589,575.760,-
12,13,Swiss (termasuk BIS),51.467,0.185,60.337,0.064,28.156,0.630,59.933,0.230,...,72.415,-,28.454,2.196,63.855,-,29.495,2.812,65.741,-
13,14,Afrika dan Timur Tengah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Arab Saudi,62.421,0.000,10.579,0.002,59.633,0.000,14.570,0.002,...,19.796,-,85.946,0.000,18.536,-,92.930,0.000,18.581,-
15,16,Kuwait,0.886,0.033,37.104,0.000,0.532,0.033,36.726,0.000,...,2.096,-,0.075,0.000,2.077,-,0.035,0.000,0.000,-
16,17,Mesir,0.453,0.000,0.100,0.000,2.112,0.000,0.100,0.000,...,0.045,-,3.671,0.000,0.044,-,5.286,0.000,0.044,-
17,18,Qatar,172.302,142.222,420.600,420.045,175.212,144.708,416.510,416.008,...,518.885,-,237.980,237.553,515.705,-,250.165,249.867,546.541,-
18,19,Uni Emirat Arab,32.633,0.001,9.432,0.000,32.605,0.001,10.312,0.000,...,134.594,-,15.103,0.000,113.872,-,17.324,0.000,183.033,-
19,20,Asia dan Pasifik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,Australia,354.205,89.221,877.555,822.350,316.276,101.898,872.730,810.755,...,441.636,-,304.240,112.932,435.901,-,354.726,153.418,447.970,-
21,22,Brunai Darusalam,0.475,0.000,0.043,0.000,0.584,0.000,0.034,0.000,...,0.059,-,0.835,0.000,0.044,-,0.941,0.000,0.044,-
22,23,Filipina,2.076,0.000,21.023,0.000,2.709,0.000,20.315,0.000,...,5.941,-,32.871,6.461,5.924,-,35.325,24.133,5.625,-
23,24,India,53.445,46.461,134.920,118.722,51.841,46.229,130.431,117.188,...,219.932,-,117.694,82.531,213.075,-,118.589,83.874,226.023,-
24,25,Jepang,668.851,287.769,10444.434,10347.732,688.446,246.108,10483.010,10352.345,...,11358.542,-,1363.025,534.461,11370.339,-,1990.691,890.535,11771.159,-
25,26,Kamboja,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,-,0.000,0.000,0.000,-,0.000,0.000,0.008,-
26,27,Korea Selatan,338.627,229.571,2307.094,2223.933,378.914,250.757,2184.329,2078.415,...,2700.804,-,1093.912,1059.365,2647.929,-,1163.147,1126.926,2603.545,-
27,28,Laos,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,-,0.000,0.000,0.000,-,0.000,0.000,0.000,-
28,29,Malaysia,36.953,17.314,2748.378,2516.885,41.936,16.832,2537.038,2451.502,...,2610.282,-,199.735,22.956,2684.194,-,105.036,63.169,2880.765,-
29,30,Myanmar,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,-,0.000,0.000,0.000,-,0.000,0.000,0.000,-
30,31,Selandia Baru,20.208,4.740,3.729,0.326,20.929,5.389,4.765,1.012,...,5.506,-,45.700,2.139,5.983,-,52.569,1.899,6.146,-
31,32,Taiwan,11.179,0.954,162.435,10.944,11.364,1.027,164.276,10.943,...,109.182,-,109.687,41.914,108.666,-,130.264,32.187,115.449,-
32,33,Thailand,121.712,34.578,2113.753,2045.653,112.664,35.566,2113.810,2040.944,...,1458.829,-,267.354,12.417,1467.076,-,288.980,16.536,1486.751,-
33,34,Timor Leste,64.832,64.832,147.878,147.470,86.946,86.946,104.842,104.353,...,24.627,-,87.561,87.561,26.658,-,99.253,99.253,26.824,-
34,35,Tiongkok,703.404,143.033,3351.722,1640.413,667.457,118.023,3375.346,1648.853,...,1822.726,-,1481.867,184.495,1850.730,-,1152.601,193.458,1956.686,-
35,36,Vietnam,33.336,0.000,111.247,99.736,41.084,0.000,103.062,90.070,...,11.776,-,11.064,0.000,18.325,-,3.695,0.000,15.561,-
36,37,Offshore centres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38,Hong Kong,1778.962,1429.539,2816.119,858.297,1758.465,1398.226,2976.099,875.464,...,1697.062,-,649.374,469.791,1557.822,-,689.337,493.258,1635.093,-
38,39,"Cayman, Kepulauan",546.077,520.112,0.586,0.159,598.244,523.059,0.601,0.178,...,40.174,-,1513.161,1303.933,13.166,-,1350.204,1249.905,20.558,-
39,40,Singapura,3127.711,848.463,9509.972,7231.778,3292.946,1037.549,9474.315,7163.794,...,9347.826,-,2321.443,1178.528,9444.383,-,3077.265,1437.231,9987.420,-
40,41,Lainnya,137.372,22.987,422.806,253.139,191.141,20.752,391.897,224.392,...,499.898,-,136.971,14.655,417.996,-,262.164,22.837,535.664,-
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing SSKI 5.d.2...

,NO,Komponen,2021-Jan-Claims-Total,2021-Jan-Claims-Non-bank financial ins.,2021-Jan-Claims-Non-financial corporations,2021-Jan-Claims-Others,2021-Jan-Liabilities-Total,2021-Jan-Liabilities-Non-bank financial ins.,2021-Jan-Liabilities-Non-financial corporations,2021-Jan-Liabilities-Others,...,2024-Jul*-Liabilities-Non-financial corporations,2024-Jul*-Liabilities-Others,2024-Aug*-Claims-Total,2024-Aug*-Claims-Non-bank financial ins.,2024-Aug*-Claims-Non-financial corporations,2024-Aug*-Claims-Others,2024-Aug*-Liabilities-Total,2024-Aug*-Liabilities-Non-bank financial ins.,2024-Aug*-Liabilities-Non-financial corporations,2024-Aug*-Liabilities-Others
0,1,Seluruh Negara Mitra,963.429,57.402,793.013,113.014,9621.467,6034.124,2568.272,1019.071,...,2780.940,1646.540,3039.536,105.288,1045.070,1889.178,14202.995,9904.956,2598.849,1699.190
1,2,Amerika,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Amerika Serikat,118.094,6.493,11.956,99.645,550.199,390.597,87.272,72.330,...,75.256,56.116,1822.332,1.249,0.495,1820.588,928.252,815.372,56.102,56.778
3,4,Kanada,0.004,0.000,0.000,0.004,28.917,0.713,12.182,16.022,...,16.545,15.275,0.021,0.000,0.000,0.021,32.967,12.110,4.404,16.453
4,5,Brazil,0.000,0.000,0.000,0.000,4.381,0.000,0.019,4.362,...,0.042,5.379,0.004,0.000,0.000,0.004,5.897,0.000,0.203,5.694
5,6,Eropa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,Belanda,0.001,0.000,0.000,0.001,44.530,8.427,10.566,25.537,...,62.511,36.315,0.004,0.000,0.000,0.004,122.964,16.017,68.587,38.360
7,8,Belgia,0.047,0.000,0.047,0.000,9.510,0.578,0.318,8.614,...,0.132,11.363,0.040,0.000,0.000,0.040,12.610,1.407,0.044,11.159
8,9,Inggris,2.081,1.970,0.103,0.008,647.347,581.752,18.739,46.856,...,23.043,45.225,6.494,6.451,0.000,0.043,734.029,657.751,12.996,63.282
9,10,Jerman,1.071,0.000,1.070,0.001,39.278,15.561,3.668,20.049,...,4.113,29.238,0.002,0.000,0.000,0.002,66.400,33.651,3.783,28.966
10,11,Norwegia,0.000,0.000,0.000,0.000,17.180,4.817,2.794,9.569,...,6.392,2.812,0.000,0.000,0.000,0.000,14.600,5.312,6.644,2.644
11,12,Perancis,4.287,4.143,0.143,0.001,72.004,13.113,3.446,55.445,...,0.875,67.630,0.379,0.006,0.335,0.038,109.429,38.089,0.475,70.865
12,13,Swiss (termasuk BIS),0.345,0.004,0.301,0.040,62.202,43.105,10.250,8.847,...,5.150,11.462,0.109,0.000,0.000,0.109,78.871,62.288,4.739,11.844
13,14,Afrika dan Timur Tengah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Arab Saudi,0.000,0.000,0.000,0.000,23.300,17.660,0.728,4.912,...,1.875,8.853,0.000,0.000,0.000,0.000,13.723,4.308,0.394,9.021
15,16,Kuwait,0.000,0.000,0.000,0.000,1.113,0.677,0.125,0.311,...,1.603,1.021,0.000,0.000,0.000,0.000,7.612,4.758,1.675,1.179
16,17,Mesir,0.000,0.000,0.000,0.000,1.892,0.000,0.001,1.891,...,0.000,2.026,0.000,0.000,0.000,0.000,2.079,0.000,0.000,2.079
17,18,Qatar,0.000,0.000,0.000,0.000,16.696,15.904,0.000,0.792,...,4.479,1.157,0.000,0.000,0.000,0.000,10.802,3.871,5.692,1.239
18,19,Uni Emirat Arab,568.020,0.000,568.020,0.000,212.198,3.746,201.468,6.984,...,203.249,4.261,0.000,0.000,0.000,0.000,239.819,15.595,218.457,5.767
19,20,Asia dan Pasifik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,Australia,0.006,0.000,0.000,0.006,160.354,72.960,12.177,75.217,...,40.017,84.757,0.052,0.000,0.000,0.052,216.336,116.777,12.255,87.304
21,22,Brunai Darusalam,0.002,0.000,0.000,0.002,1.345,0.888,0.115,0.342,...,0.145,0.668,0.000,0.000,0.000,0.000,1.263,0.547,0.062,0.654
22,23,Filipina,0.000,0.000,0.000,0.000,19.816,0.003,0.211,19.602,...,0.173,16.135,0.026,0.000,0.000,0.026,16.775,0.003,0.128,16.644
23,24,India,0.002,0.000,0.000,0.002,35.026,6.939,1.349,26.738,...,0.281,36.146,3.970,0.000,3.964,0.006,37.558,0.028,0.312,37.218
24,25,Jepang,14.614,0.022,14.533,0.059,3197.117,2334.561,762.344,100.212,...,98.590,155.307,5.229,3.009,2.207,0.013,3930.628,3666.451,99.970,164.207
25,26,Kamboja,0.000,0.000,0.000,0.000,0.165,0.000,0.017,0.148,...,0.000,0.822,0.000,0.000,0.000,0.000,0.767,0.000,0.000,0.767
26,27,Korea Selatan,0.035,0.000,0.000,0.035,227.807,5.790,159.106,62.911,...,341.132,149.307,3.673,0.000,3.663,0.010,1651.774,1139.975,359.058,152.741
27,28,Laos,0.000,0.000,0.000,0.000,0.008,0.000,0.000,0.008,...,0.022,0.109,0.000,0.000,0.000,0.000,0.160,0.000,0.070,0.090
28,29,Malaysia,5.724,1.789,3.886,0.049,425.141,96.824,202.030,126.287,...,186.832,161.419,527.450,1.635,525.752,0.063,537.050,190.406,173.690,172.954
29,30,Myanmar,0.000,0.000,0.000,0.000,1.524,0.000,0.004,1.520,...,0.044,1.579,0.000,0.000,0.000,0.000,1.518,0.000,0.059,1.459
30,31,Selandia Baru,0.000,0.000,0.000,0.000,7.817,0.170,0.160,7.487,...,0.180,10.879,0.000,0.000,0.000,0.000,11.455,1.048,0.137,10.270
31,32,Taiwan,0.014,0.000,0.000,0.014,366.276,303.225,27.348,35.703,...,20.545,45.641,6.327,0.000,0.082,6.245,311.303,240.234,24.153,46.916
32,33,Thailand,0.081,0.073,0.005,0.003,12.769,0.489,1.059,11.221,...,13.726,14.414,0.438,0.000,0.435,0.003,40.942,20.964,5.391,14.587
33,34,Timor Leste,0.000,0.000,0.000,0.000,2.944,0.000,0.014,2.930,...,2.479,8.749,0.022,0.000,0.000,0.022,11.336,0.000,2.396,8.940
34,35,Tiongkok,55.874,0.000,48.129,7.745,245.716,8.263,170.029,67.424,...,16.521,248.140,0.180,0.003,0.078,0.099,267.704,18.713,14.021,234.970
35,36,Vietnam,0.000,0.000,0.000,0.000,0.921,0.000,0.069,0.852,...,3.119,1.479,0.002,0.000,0.000,0.002,3.853,0.000,2.320,1.533
36,37,Offshore centres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38,Hong Kong,32.063,11.068,20.995,0.000,763.783,581.372,158.464,23.947,...,228.594,76.731,21.706,7.089,14.617,0.000,1137.352,857.126,201.302,78.924
38,39,"Cayman, Kepulauan",39.211,0.000,39.211,0.000,24.564,1.842,22.717,0.005,...,94.288,0.002,0.000,0.000,0.000,0.000,68.590,2.393,66.195,0.002
39,40,Singapura,109.231,21.871,82.042,5.318,1546.666,1073.331,395.486,77.849,...,897.582,116.744,624.457,69.992,492.888,61.577,2600.719,1613.105,867.238,120.376
40,41,Lainnya,12.622,9.969,2.572,0.081,850.961,450.817,303.997,96.147,...,431.405,219.379,16.619,15.854,0.554,0.211,975.858,366.657,385.897,223.304
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing SSKI 6...
Processing SSKI 7...
Processing SSKI 8...
Processing SSKI 9...
Processing SSKI 10...
Processing SSKI 11...
Processing SSKI 11a...
Processing SSKI 12...
Processing SSKI 13...
Processing SSKI 14...
Processing SSKI 15...
Processing SSKI 16...
Processing SSKI 16a...
Processing SSKI 17...
Processing SSKI 18...
Processing SSKI 19...
Processing SSKI 20...